$navbar-inverse-bg: #000;
$navbar-inverse-link-color: #AAA;

@import "bootstrap";


body {
  padding-top: 50px;
}

body:last-child {
  margin-bottom: 10%;
}

// Fix icons in navbar to be less padded, but larger
.navbar-right li a {
  padding: 8px;
  text-align: left;
}
.navbar img {
  height: 32px;
}

// Make a bit of space around logo
img#logo {
  padding-top: 10px;
  padding-right: 10px;
}

// Don't use bulleted lists on People page
ul.people {
  list-style-type: none;
  padding-left: 5px;
  
  li {
    margin-bottom: 0.75em;
  }
}