<div class="container">
  
  <div class="row">
    <div class="col-md-8">
  
              <h2>Context and Motivation</h2>
      <p>Model Driven Engineering (MDE) elevates models to  first class artefacts of the software development process. Numerous  powerful tools exist to support MDE, including for constructing models  and managing them (e.g., via transformation, code generation, merging),  though numerous challenges and difficulties arrive in adopting and  deploying the tools. MDE principles, practices and tools are also  becoming more widely used in industrial scenarios. Many of these  scenarios are traditional IT development (e.g., focusing on code  generation), and emphasis on novel or evolving deployment platforms has  yet to be seen.</p>
      <p>Cloud computing is a computational model in which  applications, data, and IT resources are provided as services to users  over the Internet. Cloud computing exploits distributed computers to  provide on-demand resources and services over a network (usually the  Internet) with the scale and reliability of a data centre. There are  different types of clouds; organizations can provide hardware for clouds  internally (internal clouds), or a third party can provide it  externally (hosted clouds). A cloud might be restricted to a single  organization or group (private clouds), available to the general public  over the Internet (public clouds), or shared by multiple groups or  organizations (hybrid clouds).</p>
      <p>Cloud computing is enormously promising in terms of providing  scalable and elastic infrastructure for applications; MDE is enormously  promising in terms of automating tedious or error prone parts of systems  engineering. There is potential in identifying synergies between MDE  and cloud computing; this is the focus of the workshop.</p>
      <h2>Workshop Goals</h2>
      <p>We aim to bring together researchers and practitioners working in MDE  or cloud computing, who are interested in identifying, developing or  building on existing synergies. We aim to identify opportunities for  using MDE to support the development of cloud-based applications (MDE  for the cloud), as well as opportunities for using cloud infrastructure  to enable MDE in new and novel ways (MDE in the cloud). <br>
      We also are interested in novel results of adoption of MDE in  cloud-related domains, as well as work-in-progress or experience  reports, that provide insight into early adoption of MDE for building  cloud-based applications, or in terms of deploying MDE tools and  infrastructure on ‘the cloud’.</p>
      <h2>Topics of Interest</h2>
      <ul>
      <li>Metamodels and novel domain-specific languages to support development of cloud-based applications.</li>
      <li>Model transformation for cloud-based applications.</li>
      <li>Model-to-text transformations for specific cloud platforms.</li>
      <li>Novel applications of MDE enabled by use of cloud platforms.</li>
      <li>Approaches to enabling “modelling as a service”.</li>
      <li>Semantic annotation techniques and descriptions of modelling services.</li>
      <li>Approaches for modelling service matching.</li>
      <li>Scalability issues for MDE in the cloud.</li>
      <li>Methods and experience reports focusing on model-based interoperability between cloud platforms/vendors.</li>
      <li>Cloud-specific development scenarios enabled by or enriched by use of MDE.</li>
      <li>Specific non-functional cloud concerns (e.g., security, information  governance) that may be addressed by MDE principles or practices.</li>
      <li>Case studies and experience reports.</li>
      <li>Position statements setting a research agenda for MDE in/for the cloud.</li>
      </ul>
      <h2>Important Dates</h2>
      <ul>
      <li>Full paper submission: 11 July, 2014</li>
      <li>Notification of acceptance: 08 August, 2014</li>
      <li>Proceedings available online: 19 September, 2014</li>
      <li>Workshop: 28-30 September, 2014 (exact date to be decided)</li>
      </ul>
      <h2>Workshop Format</h2>
      <p>Planned duration of the workshop is one day. The workshop will include a keynote talk, research paper presentations, position  statement presentations, and time for discussion amongst attendees.  Workshop participants will be asked to read the papers before the  workshop and prepare a list of questions to ask at the workshop, in  order to achieve lively interactions. After each presentation, enough  time will be allotted for discussion. In addition, the last afternoon  session will be reserved for summary discussion of issues identified by  the participants during the presentations. The workshop will close with a  wrap-up discussion that will formulate the workshop’s conclusions,  identify open issues, and outline future directions of work.</p>
      <h2>Selection Process</h2>
      <p>All submissions will be formally evaluated by three reviewers;  different review criteria will be used for research/technical  submissions versus position statements. The former will be reviewed  using normal scientific criteria (novelty, alignment with workshop call,  evaluation, ability to generate discussion). The latter will be  evaluated in terms of likelihood of sparking heated debate/discussion at  the workshop.</p>
      <h2>Submission Format</h2>
      <p>All contributions must be submitted in Springer’s LNCS format.</p>
      <ul>
      <li>Research/technical papers must not exceed 10 pages, including all text, references, appendices and figures.</li>
      <li>Position statements must not exceed 5 pages.</li>
      </ul>
      <p>Paper submissions will be made electronically via the MODELS workshop submission web page.</p>
      <p>All submissions must be original work and must not have been  previously published, nor be under consideration for publication  elsewhere. At least one author of each accepted paper should register  for the event and participate fully in the workshop.</p>
      <h2>Publication of Accepted Papers<br>
      </h2>
      <p>Accepted papers will be part of the MODELS 2014 general workshop  publication plans, and will also be published as CEUR proceedings.  Extended versions of the highest quality submissions will be advocated  for inclusion in a special issue of the Journal of Object Technology  (JOT).</p>
    </div>
  </div>
</div>