<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1><span class="glyphicon glyphicon-cloud"></span> CloudMDE 2014</h1>
        <p>
          A workshop to explore combining model-driven engineering and cloud computing.
        </p>
      </div>
      
      <div class="col-md-4">
        <a href="http://modelsconference.org"><img class="img-responsive" src="/images/models-logo.png" alt="Co-located with the International Conference on Model Driven Engineering Languages and Systems (MODELS) 2014, Valencia, Spain (Sunday 28th September to Friday 3rd October 2014)"/></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
        <tr>
          <td><strong>Paper submission deadline</strong></td>
          <td>11 Jul 2014</td>
        </tr>
        <tr>
          <td>Notification of acceptance</td>
          <td>08 Aug 2014</td>
        </tr>
        <tr>
          <td>Proceedings available online</td>
          <td>19 Sep 2014</td>
        </tr>
        <tr>
          <td>Workshop</td>
          <td>28-30 Sep 2014 (TBC)</td>
        </tr>
      </table>
    </div>
    
    <div class="col-md-4">
      <h3>Organizers</h2>
      <ul>
        <li><a href="http://www.cs.york.ac.uk/~paige">Richard Paige</a></li>
        <li><a href="http://www.emn.fr/z-info/atlanmod/index.php/Main_Page">Jordi Cabot</a></li>
        <li><a href="http://marco-brambilla.com">Marco Brambilla</a></li>
        <li><a href="http://www.cs.york.ac.uk/~louis">Louis Rose</a></li>
      </ul>
    </div>
	
    <div class="col-md-4">
      <h3>News</h2>
      <ul>
        <li><strong>22/04/2014</strong>: The <%= link_to 'call for papers', '/cfp.html' %> is available.</li>
      </ul>
    </div>
  </div>
</div>