<div class="container">  
  <div class="row">
    <div class="col-md-4">
      <h3>Programme Committee</h3>
      <p>To be confirmed.</p>
      <!-- <ul class="people">
      </ul> -->
    </div>
    
    <div class="col-md-4">
      <h3>Organizing Committee</h3>
      <ul class="people">
        <li>Richard Paige<br><em>University of York, United Kingdom</em></li>
        <li>Jordi Cabot<br><em>AtlanMod, Ecole des Mines de Nantes, France</em></li>
        <li>Marco Brambilla<br><em>Politecnico di Milano, Italy</em></li>
        <li>Louis Rose<br><em>University of York, United Kingdom</em></li>
      </ul>
  </div>
</div>
  